body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: left;
}

p {
  font-family: arial;
  font-size: 20px;
}

p1 {
  color: Navy;
}

p3 {
  color: Dim-Grey;
}

p6 {
  color: Dim-Grey;
}
  
